In [1]:
import pandas as pd
all_gpa = pd.read_csv('/Users/susanlieu/Documents/LIS590OMO/Data/UC/all_gpa.csv')

In [2]:
all_gpa.head()

,Calculation1,Campus,City,County/State/Country,Fall Term,Level,School,Adm GPA (SUM),App GPA (SUM),Enrl GPA (SUM)
0,GERMAN SWISS INTERNATIONAL SCH670905,Berkeley,NaN,HONG KONG,2012,Freshman,GERMAN SWISS INTERNATIONAL SCH,NaN,3.604000,NaN
1,AQUINAS HIGH SCHOOL052772,Riverside,San Bernardino,San Bernardino,1995,Freshman,AQUINAS HIGH SCHOOL,NaN,3.361429,NaN
2,DESIGN SCIENCE HIGH SCHOOL054003,Los Angeles,Fresno,Fresno,2012,Freshman,DESIGN SCIENCE HIGH SCHOOL,NaN,3.818000,NaN
3,BLOOMFIELD HILLS HIGH SCHOOL232447,Universitywide,Bloomfield Twp,Michigan,2015,Freshman,BLOOMFIELD HILLS HIGH SCHOOL,3.942,3.950000,NaN
4,A B MILLER HIGH SCHOOL050944,Santa Barbara,Fontana,San Bernardino,1998,Freshman,A B MILLER HIGH SCHOOL,NaN,3.518571,NaN

In [3]:
all_gpa.shape

(65499, 10)

In [4]:
filter_gpa = pd.read_csv('/Users/susanlieu/Documents/LIS590OMO/Data/UC/all_gpa.csv', usecols=['Campus', 
                                                                                              'County/State/Country',
                                                                                              'Fall Term', 
                                                                                              'School', 
                                                                                              'App GPA (SUM)'])

In [5]:
filter_gpa.shape

(65499, 5)

In [6]:
filter_gpa.head()

,Campus,County/State/Country,Fall Term,School,App GPA (SUM)
0,Berkeley,HONG KONG,2012,GERMAN SWISS INTERNATIONAL SCH,3.604000
1,Riverside,San Bernardino,1995,AQUINAS HIGH SCHOOL,3.361429
2,Los Angeles,Fresno,2012,DESIGN SCIENCE HIGH SCHOOL,3.818000
3,Universitywide,Michigan,2015,BLOOMFIELD HILLS HIGH SCHOOL,3.950000
4,Santa Barbara,San Bernardino,1998,A B MILLER HIGH SCHOOL,3.518571

In [7]:
type(filter_gpa['Fall Term'])

pandas.core.series.Series

In [8]:
filter_gpa = filter_gpa[filter_gpa['Fall Term'].isin(['2012', '2013', '2014', '2015', '2016', '2017'])]

In [9]:
filter_gpa.head()

,Campus,County/State/Country,Fall Term,School,App GPA (SUM)
0,Berkeley,HONG KONG,2012,GERMAN SWISS INTERNATIONAL SCH,3.604000
2,Los Angeles,Fresno,2012,DESIGN SCIENCE HIGH SCHOOL,3.818000
3,Universitywide,Michigan,2015,BLOOMFIELD HILLS HIGH SCHOOL,3.950000
5,Davis,Minnesota,2013,WAYZATA HIGH SCHOOL,3.660000
6,Merced,Los Angeles,2012,BISHOP MONTGOMERY HIGH SCHOOL,3.561053

In [10]:
filter_gpa = filter_gpa[filter_gpa['County/State/Country'].isin(['Alameda',
                                                                        'Alpine',
                                                                        'Amador',
                                                                        'Butte',
                                                                        'Calaveras',
                                                                        'Colusa',
                                                                        'Contra Costa',
                                                                        'Del Norte',
                                                                        'El Dorado',
                                                                        'Fresno',
                                                                        'Glenn',
                                                                        'Humboldt',
                                                                        'Imperial',
                                                                        'Inyo',
                                                                        'Kern',
                                                                        'Kings',
                                                                        'Lake',
                                                                        'Lassen',
                                                                        'Los Angeles',
                                                                        'Madera',
                                                                        'Marin',
                                                                        'Mariposa',
                                                                        'Mendocino',
                                                                        'Merced',
                                                                        'Modoc',
                                                                        'Mono',
                                                                        'Monterey',
                                                                        'Napa',
                                                                        'Nevada',
                                                                        'Orange',
                                                                        'Placer',
                                                                        'Plumas',
                                                                        'Riverside',
                                                                        'Sacramento',
                                                                        'San Benito',
                                                                        'San Bernardino',
                                                                        'San Diego',
                                                                        'San Francisco',
                                                                        'San Joaquin',
                                                                        'San Luis Obispo',
                                                                        'San Mateo',
                                                                        'Santa Barbara',
                                                                        'Santa Clara',
                                                                        'Santa Cruz',
                                                                        'Shasta',
                                                                        'Sierra',
                                                                        'Siskiyou',
                                                                        'Solano',
                                                                        'Sonoma',
                                                                        'Stanislaus',
                                                                        'Sutter',
                                                                        'Tehama',
                                                                        'Trinity',
                                                                        'Tulare',
                                                                        'Tuolumne',
                                                                        'Ventura',
                                                                        'Yolo',
                                                                        'Yuba'])]

In [11]:
filter_gpa.head()

,Campus,County/State/Country,Fall Term,School,App GPA (SUM)
2,Los Angeles,Fresno,2012,DESIGN SCIENCE HIGH SCHOOL,3.818000
6,Merced,Los Angeles,2012,BISHOP MONTGOMERY HIGH SCHOOL,3.561053
8,Berkeley,Los Angeles,2014,JAMES A GARFIELD HIGH SCHOOL,3.762895
19,Riverside,San Bernardino,2015,APPLE VALLEY HIGH SCHOOL,3.633939
34,Santa Barbara,Los Angeles,2016,ACADEMY OF MEDICAL ARTS AT CARSON,3.795556

In [12]:
filter_gpa.shape

(17727, 5)

In [13]:
filter_gpa = filter_gpa.rename({'County/State/Country':'CA_Counties','Calculation1':'High School', 'Campus':'UC Campus'}, axis='columns')

In [14]:
filter_gpa.head()

,UC Campus,CA_Counties,Fall Term,School,App GPA (SUM)
2,Los Angeles,Fresno,2012,DESIGN SCIENCE HIGH SCHOOL,3.818000
6,Merced,Los Angeles,2012,BISHOP MONTGOMERY HIGH SCHOOL,3.561053
8,Berkeley,Los Angeles,2014,JAMES A GARFIELD HIGH SCHOOL,3.762895
19,Riverside,San Bernardino,2015,APPLE VALLEY HIGH SCHOOL,3.633939
34,Santa Barbara,Los Angeles,2016,ACADEMY OF MEDICAL ARTS AT CARSON,3.795556

In [17]:
filter_gpa = filter_gpa.sort_values(['Fall Term','CA_Counties'])

In [18]:
filter_gpa

,UC Campus,CA_Counties,Fall Term,School,App GPA (SUM)
27293,Davis,Alameda,2012,COLISEUM COLLEGE PREP ACADEMY,3.756667
27754,Los Angeles,Alameda,2012,ALAMEDA COMMUNITY LEARNING CTR,4.043333
27696,Davis,Alameda,2012,ALAMEDA HIGH SCHOOL,3.830867
26438,Los Angeles,Alameda,2012,BISHOP ODOWD HIGH SCHOOL,3.812941
26682,Irvine,Alameda,2012,ALBANY HIGH SCHOOL,3.601864
26964,Berkeley,Alameda,2012,EAST BAY ARTS,3.507778
28872,Santa Cruz,Alameda,2012,SAN LORENZO HIGH SCHOOL,3.827500
29155,Davis,Alameda,2012,ALBANY HIGH SCHOOL,3.685221
26160,Santa Barbara,Alameda,2012,ALAMEDA COMMUNITY LEARNING CTR,4.052500
28358,Berkeley,Alameda,2012,OAKLAND UNITY HIGH SCHOOL,3.576667
28713,Merced,Alameda,2012,FOOTHILL HIGH SCHOOL,3.376275
24198,Merced,Alameda,2012,ALBANY HIGH SCHOOL,3.234167
24122,Universitywide,Alameda,2012,AMERICAN INDIAN PUBLIC SCHOOL,3.737143
24085,Berkeley,Alameda,2012,ARISE HIGH SCHOOL,3.557500
23297,Santa Cruz,Alameda,2012,LEADERSHIP PUBLIC SCH HAYWARD,3.694444
22799,Universitywide,Alameda,2012,FREMONT CHRISTIAN HIGH SCHOOL,3.623478
22918,Irvine,Alameda,2012,ALAMEDA COMMUNITY LEARNING CTR,3.810000
29423,Berkeley,Alameda,2012,ALAMEDA COMMUNITY LEARNING CTR,4.055455
25637,Berkeley,Alameda,2012,BISHOP ODOWD HIGH SCHOOL,3.755185
25331,Merced,Alameda,2012,ALAMEDA HIGH SCHOOL,3.446364
25208,Universitywide,Alameda,2012,ALAMEDA SCIENCE & TECHLGY INST,3.830370
34590,Davis,Alameda,2012,AMERICAN HIGH SCHOOL,3.645726
36240,Davis,Alameda,2012,FOOTHILL HIGH SCHOOL,3.701485
36706,San Diego,Alameda,2012,COLLEGE PREPARATORY SCHOOL,3.996531
36540,Riverside,Alameda,2012,AMADOR VALLEY HIGH SCHOOL,3.532222
36186,Davis,Alameda,2012,ARISE HIGH SCHOOL,3.495385
35680,Santa Cruz,Alameda,2012,CSU EAST BAY,3.185714
35677,San Diego,Alameda,2012,CASTRO VALLEY HIGH SCHOOL,3.814522
33334,Universitywide,Alameda,2012,ARISE HIGH SCHOOL,3.528421
30624,Berkeley,Alameda,2012,SAN LEANDRO HIGH SCHOOL,3.740899
...,...,...,...,...,...
20387,San Diego,Ventura,2017,CALIFORNIA VIRTUAL ACADEMY SD,4.013333
14956,Berkeley,Ventura,2017,NORDHOFF HIGH SCHOOL,3.775000
7115,Davis,Ventura,2017,OXNARD COLLEGE,3.335862
52322,Merced,Ventura,2017,CHANNEL ISLANDS HIGH SCHOOL,3.514500
1116,San Diego,Ventura,2017,THACHER SCHOOL THE,4.011250
50941,Merced,Ventura,2017,SANTA SUSANA HIGH SCHOOL,3.998333
57640,Universitywide,Ventura,2017,CALIFORNIA VIRTUAL ACADEMY SM,3.817143
38825,Santa Barbara,Ventura,2017,FOOTHILL TECHNOLOGY HS,3.878542
2547,Riverside,Ventura,2017,ADOLFO CAMARILLO HIGH SCHOOL,3.827917
58638,Merced,Ventura,2017,WESTLAKE HIGH SCHOOL,3.642609
4054,San Diego,Ventura,2017,ADOLFO CAMARILLO HIGH SCHOOL,3.967170
40086,Universitywide,Ventura,2017,RIO MESA HIGH SCHOOL,3.820571
19168,Los Angeles,Ventura,2017,ROYAL HIGH SCHOOL,3.909355
18862,Davis,Ventura,2017,ADOLFO CAMARILLO HIGH SCHOOL,3.991461
56983,Riverside,Ventura,2017,FOOTHILL TECHNOLOGY HS,3.655556
30351,San Diego,Ventura,2017,WESTLAKE HIGH SCHOOL,3.948012
39418,Los Angeles,Ventura,2017,MOORPARK COLLEGE,3.498076
30507,Irvine,Yolo,2017,RIVER CITY HIGH SCHOOL,3.704118
46472,Universitywide,Yolo,2017,PIONEER HIGH SCHOOL,3.877527
8740,Irvine,Yolo,2017,DELTA HIGH SCHOOL,3.948000
15746,Santa Barbara,Yolo,2017,DAVIS SENIOR HIGH SCHOOL,3.927970
37612,Davis,Yolo,2017,WOODLAND HIGH SCHOOL,3.864063
39705,Merced,Yolo,2017,DA VINCI CHARTER ACADEMY,3.636000
57312,Merced,Yolo,2017,PIONEER HIGH SCHOOL,3.835000
18950,Riverside,Yolo,2017,DAVIS SENIOR HIGH SCHOOL,3.847674
36804,Los Angeles,Yuba,2017,MARYSVILLE HIGH SCHOOL,3.574286
34296,Davis,Yuba,2017,MARYSVILLE CHARTER ACAD ARTS,3.984000
14633,Los Angeles,Yuba,2017,YUBA COLLEGE,3.395000
37755,Universitywide,Yuba,2017,MARYSVILLE HIGH SCHOOL,3.717500
55980,Berkeley,Yuba,2017,LINDHURST HIGH SCHOOL,3.490909